{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block css %}
.edit{
float: right;
}
{% endblock %}
{% block body %}
{% load humanize %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style type="text/css">
            body{

            }
            .container{
                  background-color: white;
            }



    </style>
</head>
<body>
<div class="container w-75 my-4">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <br>

    <div style="position:absolute; left:300px; top:585px;">

        <small>
            <table>
                <tr>
                    <th>
                        <small><a href="/like_dislike/{{post.id}}/true" class="edit btn btn-warning">
                            <img class="mr-3 rounded-circle" src="/media/profile_pics/uplogo.jpg" width="50px"
                                 height="50px"
                                 alt="image">
                        </a> </small>
                    </th>
                    <th>
                        <small><a href="/like_dislike/{{post.id}}/false" class="edit btn btn-warning">
                            <img class="mr-3 rounded-circle" src="/media/profile_pics/downlogo.jpg" width="50px"
                                 height="50px"
                                 alt="image">
                        </a> </small>
                    </th>
                </tr>
                <tr>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{like_count}}</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{unlike_count}}</th>
                </tr>

            </table>
        </small>

    </div>

    <div class="media">
        {% if post.author.profile.image %}
        <img class="mr-3 rounded-circle" src="{{post.author.profile.image.url}}" width="50px" height="50px"
             alt="image">
        {% endif %}
        <div class="media-body">
            <h5 class="mt-0"><a href="/user_profile/{{post.author.id}}/">{{post.author}}
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <small><a href="/edit_blog_post/{{post.slug}}/" class="edit btn btn-warning">Edit Blog Post</a></small>
                {% endif %}
                {% endif %}

                <br>
                <br>
            </a></h5>
            {{post.dateTime}}
        </div>
    </div>
    <br>
    <img src="/media/{{post.image}}" alt="" height="250px" width="500px">
    <br>

    <!--<table style="position:absolute; left:1000px; top:350px;
border:1px solid black; width:200px;">
        <tr style="border:1px solid black;">
            <th style="border:1px solid black;">Like Count</th>
            <th style="border:1px solid black; width:100px;">{{like_count}}</th>
        </tr>
        <tr style="border:1px solid black;">
            <th style="border:1px solid black;">UnLike Count</th>
            <th style="border:1px solid black;">{{unlike_count}}</th>
        </tr>
    </table>-->
    <br><br><br><br>
    <p>{{post.content}}.</p>
    <hr>
    {% if user.is_authenticated %}
    <div class="container1">
        <h2>Add Comments Here</h2>
        <form action="/blog/{{post.slug}}/{{post.id}}" method="POST" style="color:red;"> {% csrf_token %}
            <div class="form-floating" style="color:red;">
                <!--<label for="floatingTextarea2">Leave a comment here.</label>-->
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                          style="height: 100px;color:#000;background-color: #808080;" id="content"
                          name="content"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </form>
        {% else %}
        <div class="container1">
            <h4><a href="/login/">Login</a> to post comments below.</h4>
            {% endif %}
            <br>
            <h2>All Comments ({{comments.count}})</h2>
            <br>
            {% for comment in comments %}
            <div class="card">
                <div class="card-header">
                    <span style="font-size: 22px;">{{comment.user}} </span> <span
                        style="font-size: 12px;">{{comment.dateTime | naturaltime}}</span>
                </div>
                <div class="card-body">
                    <h6 class="card-text">{{comment.content}}</h6>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
</body>
</html>
